<div class="periodic-table-grid" (mousemove)="onMouseMove($event)">
    @for (element of elements(); track $index) {
    <div class="element relative" [class]="getElementClass(element)" [style.gridColumn]="element.xpos"
        [style.gridRow]="element.ypos" (click)="selectedElement.set(element)"
        (mouseenter)="onMouseEnter(element, $event)" (mouseleave)="onMouseLeave($event)">
        <div class="symbol">{{ element.symbol }}</div>
        <div class="number absolute top-0 left-0 px-1">{{ element.number }}</div>
        <div class="number absolute top-0 right-0 px-1">{{ element.atomic_mass }}</div>
        <div class="name">{{ element.name }}</div>
    </div>
    }
</div>
@if (selectedElement()) {
<!-- <app-element [selectedElement]="selectedElement()" /> -->
<!-- <app-model-viewer [selectedElement]="selectedElement()" /> -->
}
@if (showElementDetails()) {
<div class="h-96 w-100 bg-amber-100 absolute z-50 p-4 rounded shadow-lg" [style.left.px]="cursorPosition().x + 10"
    [style.top.px]="cursorPosition().y + 10">
    <h3>{{ selectedElement()?.name }}</h3>
    <p>{{ selectedElement()?.summary }}</p>
</div>
}